<section class="container">
  <h1>My to-do List</h1>


  <section [ngClass]="{'loading': !taskList.length}">
    <ul *ngIf="taskList.length">
      <li *ngFor="let item of taskList; let i = index">
        <input type="checkbox" >
        <input type="text" (keyup)="validationInput(item.task, i)" >

        <button (click)="deleteItemTaskList(i)">
          <img src="assets/Vector.svg" alt="">
        </button>
      </li>
    </ul>
  </section>
  <app-todo-input-add-itens (emitItemTaskList)="setEmitTaskList($event)"></app-todo-input-add-itens>
  <app-todo-button-delete-all *ngIf="taskList.length" (click)="deleteAllTaskList()"></app-todo-button-delete-all>
</section>
